<main class="w-full max-w-6xl flex flex-col m-auto px-2">
  <section class="container py-8">
    <h2 class="text-3xl font-bold">Liga de amigos 2025</h2>
    <p>Estadísticas actualizadas de nuestra liga de fútbol de los sábados</p>
  </section>
  <app-tabs
    [tabs]="tabItems()"
    [selectedTab]="selectedTab()"
    (selectedTabChange)="updateSelectedTab($event)"
  ></app-tabs>
  @if (selectedTab() === "players") {
    <div class="rounded-md border mt-6">
      <div class="card flex flex-col space-y-1.5 p-6">
        <h3
          class="card-title text-2xl font-semibold leading-none tracking-tight"
        >
          Ranking de Jugadores
        </h3>
        <p class="card-description text-sm text-muted-foreground">
          Clasificación de jugadores según partidos jugados y cantidad de goles.
        </p>
      </div>
      <div class="p-6 pt-0">
        <div class="rounded-md border">
          <div class="overflow-auto">
            <table class="w-full caption-bottom text-sm">
              <thead class="border-b">
                <tr>
                  <th class="h-12 w-12 px-4 font-medium text-center">#</th>
                  <th class="h-12 px-4 font-medium">Jugador</th>
                  <th class="h-12 px-4 font-medium text-center">Partidos</th>
                  <th class="h-12 px-4 font-medium text-center">Goles</th>
                  <th class="h-12 px-4 font-medium text-center">Valoración</th>
                </tr>
              </thead>
              <tbody class="[&_tr:last-child]:border-0">
                @for (player of jugadores; track player.numero_documento) {
                  <tr class="border-b px-2">
                    <td class="p-4 text-center align-middle">
                      {{ $index + 1 }}
                    </td>
                    <td class="p-4 align-middle">
                      {{ player.apellido + " " + " " + player.nombre }}
                    </td>
                    <td class="p-4 text-center align-middle">0</td>
                    <td class="p-4 text-center align-middle">0</td>
                    <td class="p-4 text-center align-middle">0</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  } @else if (selectedTab() === "teams") {
    <app-teams></app-teams>
  } @else if (selectedTab() === "cake") {
    <app-cake></app-cake>
  }
</main>
