<main class="flex-1 h-dvh w-full max-w-6xl flex flex-col m-auto">
  <section class="container py-8">
    <h2 class="text-3xl font-bold">Liga de amigos 2025</h2>
    <p>Estadísticas actualizadas de nuestra liga de fútbol de los sábados</p>
  </section>

  <div
    class="items-center justify-center rounded-md grid w-full grid-cols-3 bg-gray-200/80"
  >
    <div class="flex flex-row gap-2 p-4">
      <lucide-angular [img]="Users"></lucide-angular>
      <button>Jugadores</button>
    </div>

    <div class="flex flex-row gap-2 p-4">
      <lucide-angular [img]="Medal"></lucide-angular>
      <button>Equipos</button>
    </div>
    <div class="flex flex-row gap-2 p-4">
      <lucide-angular [img]="Star"></lucide-angular>
      <button>MVP</button>
    </div>
  </div>
  <div class="h2 font-bold text-4xl">En construcción</div>
</main>
