<div class="rounded-md border mt-6">
  <div class="card flex flex-col space-y-1.5 p-6">
    <h3 class="card-title text-2xl font-semibold leading-none tracking-tight">
      Cumpleaños
    </h3>
    <p class="card-description text-sm text-muted-foreground">
      Celebraciones y próximos cumpleaños de los jugadores.
    </p>
  </div>
  <div class="p-6 pt-0">
    <h3 class="flex flex-row items-center gap-4 font-semibold mb-4">
      <lucide-angular [img]="Cake"></lucide-angular> Hoy cumplen años
    </h3>
    <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
      <div class="rounded-md border mb-4">
        <div class="overflow-auto">
          <div
            class="rounded-lg shadow-sm overflow-hidden border-2 !border-primary"
          >
            <div class="p-4 flex items-center gap-4">
              <div class="relative">
                <span
                  class="relative flex shrink-0 overflow-hidden rounded-full h-16 w-16"
                >
                  <span
                    class="flex h-full w-full items-center justify-center rounded-full bg-primary text-primary-foreground text-xl"
                    >GG</span
                  ></span
                >
              </div>
              <div class="">
                <h4 class="font-bold">Gabriel Guaymas</h4>
                <p class="text-sm text-muted-foreground">Equipo:</p>
                <p class="text-sm font-medium mt-1">28 años</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
