<div class="rounded-md border mt-6">
  <div class="card flex flex-col space-y-1.5 p-6">
    <h3 class="card-title text-2xl font-semibold leading-none tracking-tight">
      Cumpleaños
    </h3>
    <p class="card-description text-sm text-muted-foreground">
      Celebraciones y próximos cumpleaños de los jugadores.
    </p>
  </div>
  <div class="space-y-6">
    <div class="p-6 pt-0">
      <h3 class="flex flex-row items-center gap-2 font-semibold mb-4">
        <lucide-angular [img]="Cake"></lucide-angular>¡Hoy hay cumpleañero/s en
        el equipo! 🎂🎉
      </h3>
      <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
        <div class="overflow-auto">
          @for (
            player of players | birthdayToday;
            track player.numero_documento
          ) {
            <div class="rounded-lg overflow-hidden border-2 !border-primary">
              <div class="p-4 flex items-center gap-4">
                <div class="relative">
                  <span
                    class="relative flex shrink-0 overflow-hidden rounded-full h-16 w-16"
                  >
                    <span
                      class="flex h-full w-full items-center justify-center rounded-full bg-primary text-primary-foreground text-xl"
                      >GG</span
                    ></span
                  >
                </div>
                <div class="">
                  <h4 class="font-bold">
                    {{ player.apellido + " " + player.nombre }}
                  </h4>
                  <p class="text-sm text-muted-foreground">Equipo:</p>
                  <p class="text-sm font-medium mt-1">
                    {{ player.fecha_nacimiento | age }} Años
                  </p>
                </div>
              </div>
            </div>
          } @empty {
            <p>No hay jugadores, que cumplan años</p>
          }
        </div>
      </div>
    </div>
    <div class="p-6 pt-0">
      <h3 class="flex flex-row items-center gap-2 font-semibold mb-4">
        <lucide-angular [img]="Calendar"></lucide-angular> Próximos cumpleaños
      </h3>
    </div>
  </div>
</div>
