<div class="rounded-md border mt-6">
  <div class="card flex flex-col space-y-1.5 p-6">
    <h3 class="card-title text-2xl font-semibold leading-none tracking-tight">
      Ranking de equipos
    </h3>
    <p class="card-description text-sm text-muted-foreground">
      Clasificación de equipos según victorias
    </p>
  </div>
  <div class="p-6 pt-0">
    <div class="rounded-md border">
      <div class="overflow-auto">
        <table class="w-full caption-bottom text-sm">
          <thead class="border-b">
            <tr>
              <th class="h-12 w-12 px-4 font-medium text-center">#</th>
              <th class="h-12 px-4 font-medium">Equipos</th>
              <th class="h-12 px-4 font-medium text-center">PJ</th>
              <th class="h-12 px-4 font-medium text-center">PG</th>
              <th class="h-12 px-4 font-medium text-center">PP</th>
            </tr>
          </thead>
          <tbody class="[&_tr:last-child]:border-0">
            <tr class="border-b px-2">
              <td class="p-4 text-center align-middle">1</td>
              <td class="p-4 align-middle">
                <div class="flex flex-row gap-2 items-center">
                  <div
                    class="w-6 h-6 rounded-full border-4 !border-green-200 bg-green-500"
                  ></div>
                  Equipo Verde
                </div>
              </td>
              <td class="p-4 text-center align-middle">0</td>
              <td class="p-4 text-center align-middle">0</td>
              <td class="p-4 text-center align-middle">0</td>
            </tr>
            <tr class="border-b px-2">
              <td class="p-4 text-center align-middle">2</td>
              <td class="p-4 align-middle">
                <div class="flex flex-row gap-2 items-center">
                  <div
                    class="w-6 h-6 rounded-full border-4 !border-gray-400 bg-black"
                  ></div>
                  Equipo Negro
                </div>
              </td>
              <td class="p-4 text-center align-middle">0</td>
              <td class="p-4 text-center align-middle">0</td>
              <td class="p-4 text-center align-middle">0</td>
            </tr>
            <tr class="border-b px-2">
              <td class="p-4 text-center align-middle">3</td>
              <td class="p-4 align-middle">
                <div class="flex flex-row gap-2 items-center">
                  <div
                    class="w-6 h-6 rounded-full border-4 !border-gray-100 bg-white"
                  ></div>
                  Equipo Blanco
                </div>
              </td>
              <td class="p-4 text-center align-middle">0</td>
              <td class="p-4 text-center align-middle">0</td>
              <td class="p-4 text-center align-middle">0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
